{% extends 'base.html.twig' %}

{% block body %}
<script>
window.schema = {{schema|raw}};
console.log(window.schema);
</script>
<div class="row">
    <div class="col-md-6">
    {{ form_widget(form)}}
    </div>
    <div class="col-md-6"/>
    <div id="editor_holder"/>
    </div>
    </div>
</div>
{% endblock %}
